<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- CSS/JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='custom/css/style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- <script type="text/javascript" src="path/to/script1.js" defer></script> -->
</head>

<body>
  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper bg-blue1">
      <a href="/" class="brand-logo"><i class="material-icons"></i>Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <!-- Main content -->
  {% block content %}
  {% endblock %}
</body>

</html>
