{% extends "base.html" %}

{% block title %}{{ child["name"]}}'s Vocabulary{% endblock %}

<!-- Main content -->
{% block content %}
<div class="container">
  <h1>{{ child["name"]}}'s Vocabulary</h1>
  <div class="row">
    <div class="blue lighten-5 col s12 m1 l1">1</div>
    <div class="blue lighten-4 col s12 m1 l1">1</div>
    <div class="blue lighten-3 col s12 m1 l1">1</div>
    <div class="blue lighten-2 col s12 m2 l2">2</div>
    <div class="blue lighten-1 col s12 m3 l3">2</div>
    <div class="blue col s12 m4 l4">2</div>
  </div>

  <!-- Charts -->
  <div>
    <h2>
      {{ child["age"]}} of Progress
    </h2>
    <!-- This will be the location of the drawn chart -->
    <div id="main-chart"></div>
  </div>
  <!-- Core Metrics -->
  <div>
    <ul class="collection">
      <li class="collection-item">{{ headline_figures["unique_words"] }} Unique Words </li>
      <li class="collection-item">{{ headline_figures["wordcount_percentile"] }} Percentile</li>
      <li class="collection-item">{{ headline_figures["average_syllables"] }} Average Syllables</li>
      <li class="collection-item">{{ headline_figures["syllable_percentile"] }} Percentile</li>
      <li class="collection-item">"{{ headline_figures["longest_word"] }}" Longest Word Ever!</li>
    </ul>
  </div>
</div>

<script src="{{ url_for('static', filename='custom/js/drawstats.js') }}" defer></script>
{% endblock %}
