{% extends "base.html" %}

{% block title %}{{ child["name"]}}'s Vocabulary{% endblock %}

<!-- Main content -->
{% block content %}
<div class="container">
  <h1>{{ child["name"]}}'s Vocabulary</h1>
  <!-- Charts -->
  <div>

    <!-- This will be the location of the drawn chart -->
    <div id="main-chart"></div>
  </div>
  <!-- Core Metrics -->
  <h2>{{ child["age"]}} of Progress</h2>
  <div>
    <ul class="collection">
      <li class="collection-item"><span class="coremetric">{{ headline_figures["wordcount"] }} Unique Words</span></li>
      <li class="collection-item">{{ headline_figures["wordcount_percentile"] }} Percentile</li>
      <li class="collection-item">{{ headline_figures["average_syllables"] }} Average Syllables</li>
      <li class="collection-item">{{ headline_figures["syllable_percentile"] }} Percentile</li>
      <li class="collection-item">"{{ headline_figures["longest_word"] }}" Longest Word Ever!</li>
    </ul>
  </div>
</div>
<script>
  // Even converting Python snake-cake to JS camel-case. Best build for sure.
  var averageWordcount = JSON.parse('{{ average_wordcount | tojson | safe}}');
  var cumulativeWordcount = JSON.parse('{{ cumulative_wordcount | tojson | safe}}');
</script>
<script src="{{ url_for('static', filename='custom/js/drawstats.js') }}" defer></script>
{% endblock %}
