{% extends "base.html" %}

{% block title %}{{ video_info["title"] }}{% endblock %}

<!-- Main content -->
{% block content %}
<div class="container">
  <h1>{{ video_info["title"]|title }}</h1>
  <iframe src="{{ video_info['url'] }}" width="100%" height="600"></iframe>
</div>

<div class="transcript">
  {% for speaker_id, segment in video_info["transcript"] %}
  	<p>
  	  {% if speaker_id == "spk_0" %}
  	    <span class="name">Alexandria: </span>
  	  {% else %}
  	    <span class ="name">Parent: </span>
  	  {% endif %}
  	  <span class="transcript_text">{{ segment }}</span>
    </p>
    {% endfor %}
</div>

{% endblock %}
