body {
  background-color: #e6e5d6;
}

.bg-blue1 {
  background-color: #2e3558;
}

.bg-blue2 {
  background-color: #2957ee;
}

.bg-blue3 {
  background-color: #30c1d7;
}

/* DV Human Hacks blue */
.bg-bluedv {
  background-color: #008caa;
}

.bg-tan {
  background-color: #e6e5d6;
}

.coremetric {
  font-size: 60px;
}

.float-center {
  text-align: center;
}

h1 {
  font-family: "monserrat";
}

/* For Cards */
.card-action {
  text-align: center;
}

.card-action.dashboard {
  font-size: 25px;
}

.cardlink {
  color: white !important;
  /* font-family: "monserrat"; */
}

.card-round {
  border-radius: 15px !important;
}

.card-image {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Cards for highlights */

.highlight-card-title {
  text-align: center;
  font-size: 50px !important;
  margin-bottom: 20px !important;
}

.highlight-card-description {
  text-align: center;
  font-size: 25px !important;
}
/* For Charts */

/* Style the lines by removing the fill and applying a stroke */
.line-child {
  fill: none;
  stroke: #008caa;
  stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
/* The dot for the child of interest */
.dot-child {
  fill: #008caa;
  stroke: #fff;
}

.dot-child:hover {
  cursor: pointer;
}

.line-upper {
  fill: none;
  stroke: #4caf50;
  stroke-width: 3;
}

.dot-upper {
  fill: #4caf50;
  stroke: #fff;
}

.line-lower {
  fill: none;
  stroke: #d32f2f;
  stroke-width: 3;
}

.dot-lower {
  fill: #d32f2f;
  stroke: #fff;
}

.xlabel {
  font-size: 25px;
}

.ylabel {
  font-size: 25px;
}

.xaxis {
  font: 30px sans-serif;
  font-size: 15px !important;
}

.yaxis {
  font-size: 15px !important;
}

.d3hovertext {
  font-size: 20px;
  font-weight: 700;
}

/* For transcript */
.speech-bubble {
  position: relative;
  background: white;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-bottom: 0;
  margin-top: -13px;
  margin-left: -26px;
}

/* Pushing the speech bubbles with contain the triangles */
.pushright {
  padding-left: 30px !important;
}

.pushleft {
  padding-right: 30px !important;
}

.speech-bubble-right {
  position: relative;
  background: #eeeeee;
  border-radius: 0.4em;
}

.speech-bubble-right:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-left-color: #eeeeee;
  border-right: 0;
  border-bottom: 0;
  margin-top: -13px;
  margin-right: -26px;
}

.padspeech {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
