.bg-blue1 {
  background-color: #2e3558;
}

.bg-blue2 {
  background-color: #2957ee;
}

.bg-blue3 {
  background-color: #30c1d7;
}

.coremetric {
  font-size: 60px;
}


/* For Charts */

/* Style the lines by removing the fill and applying a stroke */
.line-child {
  fill: none;
  stroke: #2957ee;
  stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
/* The dot for the child of interest */
.dot-child {
  fill: #2957ee;
  stroke: #fff;
}

.dot-child:hover {
  background-color: yellow;
  cursor: pointer;
}

.line-upper {
  fill: none;
  stroke: #30c1d7;
  stroke-width: 3;
}

.dot-upper {
  fill: #30c1d7;
  stroke: #fff;
}
