.bg-blue1 {
  background-color: #2e3558;
}

.bg-blue2 {
  background-color: #2957ee;
}

.bg-blue3 {
  background-color: #30c1d7;
}

.coremetric {
  font-size: 60px;
}


/* For Charts */

/* Style the lines by removing the fill and applying a stroke */
.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}


.line-upper {
  fill: none;
  stroke: #30c1d7;
  stroke-width: 3;
}

.dot-upper {
  fill: #30c1d7;
  stroke: #fff;
}
